{% extends 'base.html.twig' %}
{% block title %}Not found{% endblock %}
{% block body %}
    <div class="row ">
        <br>
        <div class="col-s-3 col-s-push-2">
            <img alt="Main acupuncture" src="{{ asset('img/icon-acupuncture.png') }}">
        </div>
        <div class="col-s-5 col-s-push-2">
            <h1>Oups ...</h1>
            <p>La page /{{ uri }} n'a pas été trouvée.</p>
            <a class="button info" href="{{ path('index') }}">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}
