{% extends 'base.html.twig' %}
{% block body %}
    <h3> Modification du mot de passe</h3>
    <form method="post" action="{{ path('user.edit.password') }}" class="modification">
        <label for="mot_de_passe">
            Nouveau mot de passe :
            <br />
            <input tabindex="1" type="password" name="password" id="mot_de_passe" />
        </label>
        <br />
        <br />
        <label for="conf_mot_de_passe">
            Confirmation du mot de passe :
            <br />
            <input tabindex="2" type="password" name="password_confirm" id="conf_mot_de_passe" />
        </label>
        <br />
        <br />
        <input tabindex="3" type="submit" name="valider" value="Valider" />
    </form>
{% endblock %}
