{% extends 'base.html.twig' %}
{% block body %}
<h3> Identification </h3>
<form method="post" action="{{ path("login") }}" class="connexion">
    <label for="email">
        Email :
        <br />
        <input tabindex="1" type="text" name="email" id="email" />
    </label>
    <br />
    <br />
    <label for="mot_de_passe">
        Mot de passe :
        <br />
        <input tabindex="2" type="password" name="password" id="password" />
    </label>
    <br />
    <br />
    <input tabindex="3" type="reset" name="reset" value="Réinitialiser" />
    <input tabindex="4" type="submit" name="submit" value="Valider" />
</form>
{% endblock %}
