{% extends 'base.html.twig' %}
{% block body %}
<div class="row center">
    <div class="row">
        <h1>Nouveau compte</h1>
    </div>
    <form method="post" action="{{ user.register }}" class="form">
        <div class="row">
            <div class="col-m-push-4 col-m-4 col-s-12">
                <div class="row">
                    <div class="col-s-12">
                        <div class="row">
                            <div class="col-s-12">
                                <label for="first_name">Prénom</label>
                            </div>
                            <div class="col-s-12">
                                <input tabindex="1" type="text" name="first_name" id="first_name"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-s-12">
                        <div class="row">
                            <div class="col-s-12">
                                <label for="last_name">Nom</label>
                            </div>
                            <div class="col-s-12">
                                <input tabindex="2" type="text" name="last_name" id="last_name"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-s-12">
                        <div class="row">
                            <div class="col-s-12">
                                <label for="email">Email</label>
                            </div>
                            <div class="col-s-12">
                                <input tabindex="3" type="text" name="email" id="email"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-s-12">
                        <div class="row">
                            <div class="col-s-12">
                                <label for="password">Mot de passe</label>
                            </div>
                            <div class="col-s-12">
                                <input tabindex="4" type="password" name="password" id="password"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-s-12">
                        <div class="row">
                            <div class="col-s-12">
                                <label for="password_confirm">Confirmation du mot de passe</label>
                            </div>
                            <div class="col-s-12">
                                <input tabindex="5" type="password" name="password_confirm" id="password_confirm"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-m-push-4 col-m-4 col-s-12">
                <div class="row">
                    <div class="col-s-12 col-m-6">
                        <input tabindex="6" type="reset" name="reset" value="Réinitialiser" />
                    </div>
                    <div class="col-s-12 col-m-6">
                        <input tabindex="7" type="submit" name="submit" value="Valider" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
