{% extends 'base.html.twig' %}
{% block body %}
<h3> Nouveau compte </h3>
<form method="post" action="{{ user.register }}" class="creation">
    <label for="first_name">
        Prenom :
        <br />
        <input tabindex="1" type="text" name="first_name" id="first_name" />
    </label>
    <br />
    <br />
    <label for="last_name">
        Nom :
        <br />
        <input tabindex="2" type="text" name="last_name" id="last_name" />
    </label>
    <br />
    <br />
    <label for="email">
        Adresse mail :
        <br />
        <input tabindex="3" type="text" name="email" id="email" />
    </label>
    <br />
    <br />
    <label for="password">
        Mot de passe :
        <br />
        <input tabindex="4" type="password" name="password" id="password" />
    </label>
    <br />
    <br />
    <label for="password_confirm">
        Confirmation du mot de passe :
        <br />
        <input tabindex="5" type="password" name="password_confirm" id="password_confirm" />
    </label>
    <br />
    <br />
    <input tabindex="6" type="reset" name="reset" value="Réinitialiser" />
    <input tabindex="7" type="submit" name="submit" value="Valider" />
</form>
{% endblock %}
