/* Base */
:root {
    --bloc-background-HF-color: #597ccc2e;
    --bloc-border-color: #597ccc;
    --bloc-background-color: #FFF;

    --button-black-color: #212529;
    --button-white-color: #FFF;
}

/* Titres */

.h1{
    padding: .375rem .75rem;
}

.h2{
    padding: .375rem .75rem;
}

.h3{
    padding: .1rem .25rem;
}

/* Liens */

a {
    color: var(--bloc-border-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* Abréviations */

abbr{
    border-bottom: none;
    text-decoration: none;
    font-style: italic;
}

/* Bouton and alerts */
.button, .alert {
    margin: .375rem .75rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    overflow: visible;
    min-width: 6rem;
}
.button.success, .alert.success {
    color: var(--button-white-color);
    background-color: #28a745;

}
.button.danger, .alert.danger {
    color: var(--button-white-color);
    background-color: #dc3545;
}
.button.warning, .alert.warning {
    color: var(--button-black-color);
    background-color: #ffc107;
}
.button.light, .alert.light {
    color: var(--button-black-color);
    background-color: #f8f9fa;
}
.button.info, .alert.info {
    color: var(--button-white-color);
    background-color: #597ccc;
}
.button.secondary, .alert.secondary {
    color: var(--button-white-color);
    background-color: #6c757d;
}

/* Tableaux */
table.table {
    border-collapse: collapse;
}

table.table, table.table th, table.table td {
    border: 1px solid var(--bloc-border-color);
}

table.table th {
    background-color: var(--bloc-background-HF-color);
    text-align: center;
    font-weight: bold;
}

table.table-stripped tr:nth-child(2n+3) {
    background-color: #f5f5f5;
}

table.table td, table.table th {
    padding: 8px 15px;
}

table.table td.center {
    text-align: center;
}

/* Titres */
h1{
    margin: 0.6rem 0.8rem;
    font-size: 1.5em;
}
h2{
    margin: 0.5rem 0.8rem;
    font-size: 1.3em;
}
h3{
    margin: 0.4rem 0.8rem;
    font-size: 1.1em;
}

/* Blocs */
.card{
    margin-bottom: 1.5rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--bloc-background-color);
    background-clip: border-box;
    border: 1px solid var(--bloc-border-color);
    border-bottom: 0;
}
.card-header, .card-footer, .card-body{
    padding: .75rem 1.25rem;
    border-bottom: 1px solid var(--bloc-border-color);
}
.card-header, .card-footer{
    margin-bottom: 0;
    background-color: var(--bloc-background-HF-color);
}

/* Formulaires */
form {
    margin: 0;
    padding: 0;
}

form.form input {
    margin: .375rem 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    min-width: 6rem;

    border: 1px solid var(--bloc-border-color);
}

form.form button {
    margin: .375rem 0;
}
form.form ul{

    max-height: 100px;
    overflow-y: scroll;
}

.input_meridian {
    margin-right: 5px !important;
}

form button.search_meridian {
    display: block;
    margin: auto;
}

form.form .liste_deroulante{
    list-style-type: none;
    border: 1px solid var(--bloc-border-color);
}

/* citations */
blockquote {
    background-color: #f5f5f5;
    border-left: 3px solid  var(--bloc-border-color);
    padding: 15px;
}
