/* Base */
:root {
    --bloc-background-HF-color: #597ccc2e;
    --bloc-border-color: #597ccc;
    --bloc-background-color: #FFF;

    --button-black-color: #212529;
    --button-white-color: #FFF;
}

/* Titres */

.h1{
    padding: .375rem .75rem;
}

.h2{
    padding: .375rem .75rem;
}

.h3{
    padding: .1rem .25rem;
}

/* Liens */

a {
    color: var(--bloc-border-color);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* Abréviations */

abbr{
    border-bottom: none;
    text-decoration: none;
    font-style: italic;
}

/* Bouton and alerts */
.button, .alert {
    margin: .375rem .75rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    overflow: visible;
    min-width: 6rem;
}
.button.success, .alert.success {
    color: var(--button-white-color);
    background-color: #28a745;

}
.button.danger, .alert.danger {
    color: var(--button-white-color);
    background-color: #dc3545;
}
.button.warning, .alert.warning {
    color: var(--button-black-color);
    background-color: #ffc107;
}
.button.light, .alert.light {
    color: var(--button-black-color);
    background-color: #f8f9fa;
}
.button.info, .alert.info {
    color: var(--button-white-color);
    background-color: #597ccc;
}
.button.secondary, .alert.secondary {
    color: var(--button-white-color);
    background-color: #6c757d;
}

/* Tableaux */
table.table {
    border-collapse: collapse;
}

table.table, table.table th, table.table td {
    border: 1px solid var(--bloc-border-color);
}

table.table th {
    background-color: var(--bloc-background-HF-color);
    text-align: center;
    font-weight: bold;
}

table.table-stripped tr:nth-child(2n+3) {
    background-color: #f5f5f5;
}

table.table td, table.table th {
    padding: 8px 15px;
}

table.table td.center {
    text-align: center;
}

/* Titres */
h1{
    margin: 0.6rem 0.8rem;
    font-size: 1.5em;
}
h2{
    margin: 0.5rem 0.8rem;
    font-size: 1.3em;
}
h3{
    margin: 0.4rem 0.8rem;
    font-size: 1.1em;
}

/* Blocs */
.card{
    margin-bottom: 1.5rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--bloc-background-color);
    background-clip: border-box;
    border: 1px solid var(--bloc-border-color);
    border-bottom: 0;
}
.card-header, .card-footer, .card-body{
    padding: .75rem 1.25rem;
    border-bottom: 1px solid var(--bloc-border-color);
}
.card-header, .card-footer{
    margin-bottom: 0;
    background-color: var(--bloc-background-HF-color);
}

/* Formulaires */
form {
    margin: 0;
    padding: 0;
}

form.form input {
    margin: .375rem 0;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    min-width: 6rem;

    border: 1px solid var(--bloc-border-color);
}

form.form button {
    margin: .375rem 0;
}
form.form ul{

    max-height: 100px;
    overflow-y: scroll;
}

/* Customize the label (the container) */
.checkbox_meridian {
    display: block;
    position: relative;
    padding-left: 18px;
    padding-bottom: 10px;
    margin: 0px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_meridian input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--bloc-background-color);
}

/* On mouse-over, add a grey background color */
.checkbox_meridian:hover input ~ .checkmark {
    background-color: var(--bloc-background-color);
    border: solid 1px var(--bloc-border-color);
}

/* When the checkbox is checked, add a blue background */
.checkbox_meridian input:checked ~ .checkmark {
    background-color: var(--bloc-border-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox_meridian input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox_meridian .checkmark:after {
    left: 4px;
    top: 1px;
    width: 2px;
    height: 8px;
    border: solid var(--bloc-background-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form button.search_meridian {
    display: block;
    margin: auto;
}

form.form .liste_deroulante{
    border: 1px solid var(--bloc-border-color);
}
