body {
    background-color :#fff;
    font-family: serif;
    font-size :15pt;
}

header {
    display: none;
}

.site-content{
    padding: 0;
}
.container{
    margin: 0;
}

/* Affichage Lien de la balise A */
a:after{content:" (" attr(href) ") ";font-size:0.8em;font-weight:normal;}