.collapse {
    visibility: collapse;
}

/* Recherche de pathologies */
.search {
    margin-bottom: 1rem;
}

.search input, .search button {
    width: 100%;
}

table.pathologies {
    width: 100%;
}

.center {
    text-align: center;
}