<header class="header">
    <a href="#" class="header_icon" id="header_icon"></a>
    <a href="#" class="header_logo">Bref'n'm Acupuncture</a>
    <nav class="menu">
{#
        Elias inspire toi de cette ligne
        <a href={{ path('information') }}>Informations</a>
#}

        <a href="#">Informations</a>
        <a href="#">Liste de Symptômes</a>
        <a href="#">Pathologies</a>
        <a href="#">Recherche de pathologies</a>
        <a href="#">Se connecter</a>
    </nav>
</header>