{% extends 'base.html.twig' %}
{% block title %}Information{% endblock %}
{% block body %}
    <h1>
        Informations
    </h1>
    <div class="row">
        <div class="col-s-12 col-m-6">
            <div class="card">
                <div class="card-header">
                    Auteurs et Dévelopeurs
                </div>
                <div class="card-body">
                    <p>
                        Ce site a été developpé par :
                    </p>
                    <ul>
                        <li> Bastien PLAZA </li>
                        <li> Rayane HAJAM </li>
                        <li> Elias BOULHARTS </li>
                        <li> Florian MERLE </li>
                        <li> Nicolas JOURDAN </li>
                        <li> Melih ASLAN </li>
                    </ul>
                </div>
                <div class="card-footer">
                    Son développement est réalisé dans le cadre du module de Techniques des Langages de l'Internet (<abbr title="Techniques et Langages de l'Internet">TLI</abbr>)
                    de l'école d'ingénieur <abbr title="Chimie, Physique, Electronique"> CPE </abbr> de Lyon
                </div>
            </div>
        </div>
        <div class="col-s-12 col-m-6">
            <div class="card">
                <div class="card-header">
                    Outils utilisés
                </div>
                <div class="card-body">
                    <p>
                        Pour la mise en place de ce site, les outils suivants ont été utilisés
                    </p>
                    <ul>
                        <li> Docker </li>
                        <li> PhpMyAdmin </li>
                        <li> Apache </li>
                        <li> MySQL 5 </li>
                        <li> PHP 7.3 </li>
                        <li> YAML </li>
                    </ul>
                </div>
                <div class="card-footer">
                    Pour plus d'information : <a href="https://github.com/bref-n-m/tli">Repository GITHUB</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-s-12 col-m-6 col-m-center">
            <div class="card">
                <div class="card-header">
                    Languages de programmations utilisés
                </div>
                <div class="card-body">
                    <ul>
                        <li> Php </li>
                        <li> Javascript </li>
                        <li> Twig </li>
                        <li> HTML</li>
                        <li> CSS </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-s-12 col-m-6 col-m-center">
            <div class="card">
                <div class="card-header">
                    Sources - Webographie
                </div>
                <div class="card-body">
                    <ul>
                        <li> <a href="https://github.com/bref-n-m/tli/wiki" target="_blank">Wiki du site</a> </li>
                        <li> <a href="https://github.com/bref-n-m/tli/blob/develop/README.md" target="_blank">README</a> </li>
                        <li> Icon du site : <a href="https://www.flaticon.com/free-icon/acupuncture_1683192#term=acupuncture&page=1&position=7" target="_blank"> FlatIcon </a></li>
                        <li> Cours : <a href="http://bruno.mascret.fr/dokuwiki/doku.php/start">Bruno Mascret</a> </li>
                        <li> Cours : <a href="https://johnsamuel.info/" target="_blank">John Samuel</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}