{% extends 'base.html.twig' %}
{% block title %}Information{% endblock %}
{% block body %}
<div>
    <h1> Informations </h1>
    <p>
        Bonjour !
    </p>
    <p>
        Vous pourrez retrouver sur cette page toutes les informations concernant ce site.
    </p>
    <div>
        <h2> Auteurs </h2>
        <p>
            Ce site a été developpé par :
        </p>
        <ul>
            <li> Bastien PLAZA </li>
            <li> Rayane HAJAM </li>
            <li> Elias BOULHARTS </li>
            <li> Florian MERLE </li>
            <li> Nicolas JOURDAN </li>
            <li> Melih ASLAN </li>
        </ul>
        <p>
            Son développement est réalisé dans le cadre du cours de
            <abbr title="Techniques et Langages de l'Internet"> TLI </abbr>
            de l'école supérieure <abbr title="Chimie, Physique, Electronique"> CPE </abbr> de Lyon
        </p>
    </div>
    <div>
        <h2> Outils utilisé </h2>
        <p>
            Pour la mise en place de ce site, les outils suivants ont été utilisés :
        </p>
        <ul>
            <li> Outil 1 </li>
            <li> Outil 2 </li>
        </ul>
    </div>
    <div>
        <h2> Sources </h2>
        <div>
            <h3> Bibliographie </h3>
            <p>
                Mon texte ici sur les sources bibliographique
            </p>
        </div>
        <div>
            <h3> Webographie </h3>
            <p>
                Icone du site récupéré sur <a href="https://www.flaticon.com/free-icon/acupuncture_1683192#term=acupuncture&page=1&position=7" target="_blank"> FlatIcon </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}