<h1> Modification de mot de passe </h1>
<form method="post" action="./index.php" class="modification">
    <label for="mot_de_passe">
        Mot de passe :
        <br />
        <input tabindex="5" type="password" name="mot_de_passe" id="mot_de_passe" />
    </label>
    <br />
    <br />
    <label for="conf_mot_de_passe">
        Confirmation du mot de passe :
        <br />
        <input tabindex="6" type="password" name="conf_mot_de_passe" id="conf_mot_de_passe" />
    </label>
    <br />
    <br />
    <input tabindex="7" type="submit" name="valider" value="Valider" />
    <input tabindex="8" type="submit" name="annuler" value="Annuler" />
</form>