{% extends 'base.html.twig' %}
{% block body %}
<h1> Recherche </h1>
<label for="champ-recherche"> Mots-clé </label>
<input  tabindex="1" type="search" id="champ-recherche">
<button tabindex="2"> Recherche </button>
<table>
    <thead>
    <tr>
        <th> Pathologie </th>
        <th> Symptômes </th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td> XXXX </td>
        <td> XXXX </td>
    </tr>
    </tbody>
</table>
{% endblock %}