{% extends 'base.html.twig' %}
{% block title %}Symptômes{% endblock %}
{% block body %}
<h1> Symptômes </h1>
    <ul>
    {% for symptom in symptoms.res %}
        <li>{{ symptom.desc }}</li>
    {% endfor %}
    </ul>
{% endblock %}
